.container{
    width:100%;
    
}

.wrapper{
    width:960px;
    
    margin:0 auto;
}
.top-nav{
    height: 60px;
    position: relative;
    top: 0;
    width: 100%;
    background: #C1C1C1;
    border: 2px solid #000;
}

.nav-elements{
    
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 30%;         
      margin:auto;
          
  }

.go-back, .go-forward, .go-up, .cancel{
    padding: 0 10px;
    cursor: 
    
}

.go-back a:hover{
    background:red;
    
}

.url-bar, .search-bar{    
    display:inline!important;
}

#url-bar{
    width: 700px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#search-bar{
    width: 90px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.section-logo-cart{
    height: 60px;
    position: relative;    
    width: 100%;
    border: 2px solid #000;
    border-top: none;

}

.logo, .cart-text{
    width: 50%;
    float: left;

}

.shopping-cart, .your-cart{  

    display:inline!important;
}

.section-slideshow-main{

    height: 250px;
    width: 100%;
    border: 2px solid #000;
    border-top:none;
    overflow:auto;
    position: relative;
}

#slideshow-text{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30%;         
    margin:auto;
}

.section-slideshow-bottom{

    height: 100px;
    width: 100%;
    border: 2px solid #000;
    border-top:none;
    overflow:auto;
    position: relative;
    background: #333333;
}

#slideshow-text-h2{
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30%;         
    margin:auto;
}

.section-store-heading{
    border: 2px solid #c1c1c1;
    height:55px;   
    width: 100%;    
    overflow:auto;
    position: relative;    
}

#store-heading{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 50%;         
    margin:auto;
}

.section-store-container{
    border: 2px solid #000;
    border-top: none;
    height:auto; 
    width: 100%;    
    overflow:auto;
    position: relative;
}

.store-row{
    width:80%;
    margin: 0 auto;
    display:block;
    padding:10px 0px;
    clear:both;
    
}

.margin-left60{
    margin-left:60px!important;
}

.item-box{
    width:200px;
    display:block inline;
    float:left;
    margin: 0px 5px 10px 0px;
    
}


.item-heading,.item-footer{
    background: #333333;
    color: #fff;
    font-size: 1.068em;
    padding:5px;
    width:100%;
    border: 2px solid #000;
    position:relative;
    
}
.item-picture{
    position: relative;
    float: left;
    border: 2px solid #000;
    border-bottom:none;
    
}

.item-price{
    position:absolute;
    top:0;   
    right:0;
    width:25%;
    background:#fff;
    border: 1px  solid #000;
}

.item-footer{
    position:relative;
    float: left;
   
}

.item-cart{
    
    float:left;
    border:2px solid #000;
    box-shadow: 2px 2px 5px #000;
    background:#F6B26B;
    color: #333333;
    width:50%;
    margin-left:25%;

}

.pagination{
    width:100%;
    margin:0 auto;
    
}

#pagination-list li{
    list-style-type: none;
    display:inline;
}

#pagination-list li a{
    text-decoration: none;
    color: #000;
}

.section-footer{
    height: 200px;
    width: 100%;
    border: 2px solid #000;
    border-top:none;
    overflow:auto;
    position: relative;
    background: #333333;
}

#footer-heading{
    margin-top:20px;
    color: #E48013;
}

.contact{
    color: #fff;
}

#pagination-list li{
    list-style-type: none;
    display:inline;
}

#pagination-list li a{
    text-decoration: none;
    color: #000;
}


      